/* Страница "Задача 1. Proc36, Recur9" (page1.html) */

.container {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

/* таблица */
.container table {
    margin: 3rem 0 0;
}

/* статья */
article {
    font-family: Calibri, sans-serif;
    font-size: 1.4rem;
}
