/* Страница "Задача 3. Удаление и вставка" (page3.html) */
.container {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    /* justify-content: space-evenly; */
}

/* таблица */
.container table {
    margin: 3rem 5rem 0 0;
}

/* статья */
article {
    font-family: Calibri, sans-serif;
    font-size: 1.4rem;
}
