/* Страница "Задача 2. Вычисления" (page2.html) */

.container {
    display: flex;

    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

/* таблица */
.container table {
    margin: 3rem 5rem 0 0;
}

/* статья */
article {
    font-family: Calibri, sans-serif;
    font-size: 1.4rem;
}
